body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15mm;
    padding-left: 5mm;
    border-left: 10px solid orange;
    border-right: 15px solid orangered;
}

span{
        color: darkturquoise;
        font-family: Calibri;
        font-weight: bolder;
        font-size: 20px;
}

h1 {
    color: brown;
    font-size: 50px;
    font-family: 'Times New Roman';
    border-bottom: 10px dotted red;
    border-top: 10px dotted blue;
    border-top-right-radius:  50%;
    border-bottom-right-radius: 50%;
}

h2 {
    font-size: 20px;
    color: blue;
}

li{
    font-style: oblique;
}

.job-title {
    color: gold;
    font-weight: bolder;
}

a:link, a:visited {
    color: hotpink;
    text-decoration: none;
}

a:hover {
    color: forestgreen;
    text-decoration: line-through;
}